.carousel-item {
    width: 100%;
  }


  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }

  .carousel-h {
    font-size: 13vh;
    font-weight: bold;
  }

  .carousel-h2 {
    font-size: 5vh;
    font-weight: bold;
  }

  .carousel-h3 {
    font-size: 3vh;
    font-weight: bold;
  }

  .carousel-img {
    height: 400px;
    opacity: 80%;
  }

  #myCarousel3>.carousel-inner>.carousel-item{

    justify-content: center;
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-height: 20rem;
    }
  }
  
  .color{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid 1px black;
  }
  
  .cb{background-color: white;}
  .cn{background-color: black;}
  .ca{background-color: #08005e;}
  

  @media (width < 1200px) {
    .carousel-h {
      font-size: 6vh;
    }
  }

  @media (width < 768px) {
    .carousel-h {
      font-size: 5vh;
    }

    .carousel-img {
      height: 150px;
      margin-top: 20px;
    }
  }



  