main {
  margin-top: 7rem;
}


.categorie{
  img{
    max-height: 15rem;
    max-width: 10rem;
  }
}

@media (width < 1400px){
  .categorie{
    img{
      max-width: 7rem;
    }
  }
}

@media (width < 1200px){
  main {
    margin-top: 8rem;
  }
}

@media (width < 768px){
  main {
    margin-top: 3rem;
  }
}
@media (width < 576px){
  .categorie{
    img{
      max-height: 8rem;
      max-width: 7rem;
    }
  }
}