.table-container {
    display: table;
    padding: 0px 4rem 4rem 4rem;
}

.table-row {
    display: table-row;
    margin-top: 20px;
}

.table-column {
    display: table-cell;
    padding: 0px 5px 5px 5px;
    align-items: start;
}

.table-column>input[type="text"],
        .table-column>input[type="email"],
        .table-column>input[type="tel"],
        .table-column>input[type="number"],
        .table-column>textarea {
            width: 100%;
            border: none;
            border-bottom: solid 1px black;
            margin: 15px;
        }

        input[type="reset"],
        input[type="submit"] {
            border: none;
            min-width: 100px;
        }

        .social-media>a>svg:hover {
            transform: scale(1.1);
            transition: (1s);
        }


@media (width < 768px) {
    .table-container {
        padding: 0px 1rem 1rem 1rem;
    }

    textarea {
        height: 20vh;
    }
  }

@media (width < 576px) {

    .table-container {
        display: block;
    }

    .form-container {
        display: block;
        margin: 30px;
    }

    .column {
        display: block;
        width: 100%;
    }

    input {
        width: 100%;
        margin-bottom: 5px;
    }
    
  }