header {
    position: fixed;
    width: 100%;
    background-color: $grey-dino;
    z-index: 4;
    top: 0;
    padding: 0px;
  }

  @media (width < 768px) {
    header {
      #hamburguer-icon {
        display: block;
      }

      .icon {
        width: 22px;
      }
    }
  }